.navbar {
  height: 60px;
  background-color: #202020;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background: #e60000;
}
